.admin-container {
  width: 98%px;
  height: 720px;
  margin: 10px;
  border: 1px solid #555;
  background-color: rgb(141, 194, 200);
}
.admin-left{
  width: 150px;
  background-color: rgb(190, 179, 179);
}
