.customer-container {
  width: 98%px;
  height: 350pt;
  margin: 10px;
  border: 1px solid #555;
  background-color: rgb(133, 149, 151);
}
.customer-left{
  width: 150px;
  background-color: rgb(180, 195, 186);
}
